body, html {
    background-color: #FAF9F6;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: lato;
  }

.headerBar{
    display: flex;
    background-image: linear-gradient(#2e96ad, #f5deb3);
    flex-basis: 0;
    flex-grow: 1;    
    flex-flow: row wrap;
    height: 100px;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    box-shadow: black 0px 15px 30px;
    border-radius: 0px 0px 15px 15px;
  }

  nav{
    margin: auto;
  }

  nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
  }

  nav a:hover{
    text-decoration: underline;
  }

  section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: row wrap;
    margin: 100px auto 100px auto;
    width: 75%;
  }

  section .aboutMe{
    align-self:last baseline;
    text-align: left;
  }


  .profileFoto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 25px 50px 50px;
    max-height: 500px;
    border-radius: 15px;
    box-shadow: black -15px 15px 15px;
  }


  .aboutMe{
    min-height: 500px;
    max-width: 50%;
    border: 3px solid black;
    border-radius: 15px;
    margin: 50px 50px 50px 25px;
    background-image: linear-gradient(#2e96ad, #f5deb3);
    box-shadow: black -15px 15px 15px;
  }

  h1, h2{
    padding-left: 15px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .socialMedia{
    top: 45%;
    right: 25px;
    position: fixed;
    border: 3px solid black;
  }
  
  #linkDin, #insta, #faceBook{
    margin-top: 15px;
  }