  body, html{
    background-color: #FAF9F6;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    font-family: lato;
  }


  #headerBar{
    background-image: linear-gradient(#2e96ad, #f5deb3); 
    height: 100%;
    max-width: 100%;
    box-shadow: black 0px 15px 30px;
    border-radius: 0px 0px 15px 15px;
  }

  #year{
    font-size: 2rem;
  }

  nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  nav a:hover{
    text-decoration: underline;
  }


  #profileFoto{
    transition: .3s;
    border: 2px solid black;
    height: 500px;
  }
  
  #profileFoto:hover{
    transition: .3s;
    box-shadow: black 0px 15px 15px;
  }


  #contentBox{
    transition: .3s;
    height: 500px;
    width: 90%;
    border: 2px solid black;
    border-radius: 15px;
    background-image: linear-gradient(#2e96ad, #f5deb3);
  }
  
  #contentBox:hover{
    transition: .3s;
    box-shadow: black 0px 15px 15px;
  }

  h1, h2{
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #contentBox .row{
    margin: 0;
  }

  #certificates, #projects{
    display: none;
    padding-left: 10px;
    padding-top: 5px;
    height: 350px;
    overflow: auto;
    font-size: 1rem;
    border-radius: 15px;
    background-image: linear-gradient(#2e96ad, #f5deb3);
    box-shadow: black 0px 1px 5px;
  }

  #certificates li:not(:last-child), #projects li:not(:last-child){
    margin-bottom: 20px;
  }

  .fa-linkedin::before{
    content: "";
    background-image: url('../resources/Icons/linkedin.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }

  .fa-gitHub::before{
    content: "";
    background-image: url('../resources/Icons/github.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 32px;
    width: 32px;
  }

  .fa-email::before{
    content: "";
    background-image: url('../resources/Icons/email.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 32px;
    width: 32px;
  }

  #contactIconsRow{
    display: none;
  }

  #pastButton, #presentButton, #futureButton{
    background: transparent;
    border: none;
    display: none;
  }

  #past, #present, #future{
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%;
    transition: .3s;
  }
  
  #past:hover, #present:hover, #future:hover{
    box-shadow: black 0px 0px 30px;
    border-radius: 15px;
    background-image: linear-gradient(#2e96ad, #f5deb3);
    transition: .3s;
  }

  #footerBar{
    background-image: linear-gradient(#f5deb3, #2e96ad);
    max-width: 100%;
    box-shadow: black 0px -15px 30px;
  }