  body, html{
    background-color: #FAF9F6;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    font-family: lato;
  }


  #headerBar{
    background-image: linear-gradient(#2e96ad, #f5deb3); 
    height: 100px;
    max-width: 100%;
    box-shadow: black 0px 15px 30px;
    border-radius: 0px 0px 15px 15px;
  }

  #year{
    font-size: 2rem;
  }

  nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
  }

  nav a:hover{
    text-decoration: underline;
  }

  section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: row wrap;
    width: 75%;
  }

  section .contentBox{
    text-align: left;
  }


  .profileFoto{
    transition: .3s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 50px 50px 25px;
    max-height: 500px;
    border-radius: 15px;
    border: 2px solid black;
  }
  
  .profileFoto:hover{
    transition: .3s;
    margin-right: 55px;
    margin-left: 20px;
    box-shadow: black 15px 15px 15px;
  }


  .contentBox{
    transition: .3s;
    min-height: 500px;
    min-width: 750px;
    max-width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    margin: 50px 25px 50px 50px;
    background-image: linear-gradient(#2e96ad, #f5deb3);
  }
  
  .contentBox:hover{
    transition: .3s;
    margin-left: 55px;
    margin-right: 20px;
    box-shadow: black -15px 15px 15px;
  }

  h1, h2{
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #certificates{
    display: none;
    float: right;
  }

  #pastButton, #presentButton, #futureButton{
    background: transparent;
    border: none;
  }

  #past, #present, #future{
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 75px;
    transition: .3s;
  }
  
  #past:hover, #present:hover, #future:hover{
    box-shadow: black 0px 0px 30px;
    border-radius: 15px;
    background-image: linear-gradient(#2e96ad, #f5deb3);
    transition: .3s;
  }

  #footerBar{
    background-image: linear-gradient(#f5deb3, #2e96ad);
    height: 100px;
    max-width: 100%;
    box-shadow: black 0px -15px 30px;
    border-radius: 15px 15px 0px 0px;
  }